.mySection {
    background-image: url(../../assets/Acceuilbg.jpg);
    background-position: center;
    background-size: no-repeat;
}
.btne{
    color: white;
    border-radius: 50%;
    font-size: 55;
    border: 1px solid yellow;
}